@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden bg-night-950 text-night-50 antialiased;
  }
}

/* Leaflet overrides */
.leaflet-container {
  @apply bg-night-900;
}

.leaflet-tile-pane {
  filter: brightness(0.85) saturate(0.9);
}
